ul {
    color: #ff0000;
}

ul.coloridao {
    color: #A020F0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

body {
    /* background: url('/home/anarute/Desktop/meu-site/floresta.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

p#paragrafo-unico, ul, li, .coloridao {
    text-decoration: underline;
}

section {
    border: 5px #000000 dotted;
    margin: 50px auto;
    text-align: center;
    width: 50%;
    background: rgba(255, 255, 255, 0.5);
}

img {
    width: 20%;
}

.container-slides {
    width:100px;
}